<!DOCTYPE html>
<html>
    <head>
        <title>Demo</title>
        <link rel="stylesheet" href="/css/sémantic/semantic.min.css">
        <link rel="stylesheet" href="/css/stylesheet.css">
        
    </head>
    <body>
        <!-- <div  href='index' class="ui menu"> -->
            <!-- <a href="/accueil" class="header item backround">
              Accueil
            </a>
            <a  href = '/apropos'class="item">
              A Propos
            </a>
            <a href='/mesRecettes' class="item">
             Recettes
            </a>
            <a  href='/connexion' class="item">
              Connexion
            </a>
            <a  href='/connexion/admin' class="item">
              admin
            </a>

            <a  href='/admin' class="item">
              admin
            </a>
          </div> -->

          <div class="ui inverted menu">
            <a href="/accueil" class="active item">Accueil</a>
            <a href="/apropos" class="item">A Propos</a>
            <a href="/mesRecettes" class="item">Recettes</a>
            
            
            <a href="/connexion" class="item">Connexion</a>

            <!-- <a href="/aboutUs"class="item">A propos de nous</a>
            <a href="/contactUs"class="item">Nous contacter</a>
            <a href="/Compte" class="item">Compte</a>
            <a href="/admin" class="active item">Admin</a> -->
          </div>