<%- include('../../include/include admin/header.ejs') %>
    <div>
        <p>je suis les articles de l'administration</p>
    </div>
    <h1> Mes Articles</h1>
    <a href='/connexion/add_article'>
        <button class="ui basic button">
            <i class='icon pencil alternate'></i>
            Add Article
        </button>
    </a>
    <%- include('../../include/include admin/footer.ejs') %>